<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403939808390-9hbtr3gbk6eekjio0v70tk24enjm5qaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403939808390-9hbtr3gbk6eekjio0v70tk24enjm5qaj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>403939808390-lrd270jhe81opeugjgf77rbajivp046o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBrkRYkFESL-G449StBMnuP1Hj_3WECCL0</string>
	<key>GCM_SENDER_ID</key>
	<string>403939808390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samarth.coindcxclone</string>
	<key>PROJECT_ID</key>
	<string>crux-app-50f3b</string>
	<key>STORAGE_BUCKET</key>
	<string>crux-app-50f3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403939808390:ios:df1cee349487fa9807ad07</string>
</dict>
</plist>